<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ask.sky3back.mapper.AlarmMapper">

    <resultMap id="ProbeResultMap" type="com.ask.sky3back.bean.Probe">
        <id property="probeId" column="Probe_Id" jdbcType="INTEGER" />
        <result property="probeBh" column="Probe_Bh" jdbcType="INTEGER" />
        <result property="probeName" column="Probe_Name" jdbcType="VARCHAR" />
        <result property="probePosition" column="Probe_Position" jdbcType="VARCHAR" />
        <result property="probeRemarks" column="Probe_Remarks" jdbcType="VARCHAR" />
        <result property="probeType" column="Probe_Type" jdbcType="INTEGER" />
        <result property="probeEnable" column="Probe_Enable" jdbcType="FLOAT" />
        <result property="hostId" column="Host_Id" jdbcType="INTEGER" />
        <result property="hostAddress" column="Host_Address" jdbcType="INTEGER" />
        <result property="highValue" column="high_value" jdbcType="FLOAT" />
        <result property="lowValue" column="low_value" jdbcType="FLOAT" />
        <result property="realtimeValue" column="realtime_value" jdbcType="FLOAT" />
        <result property="realtimeState" column="realtime_state" jdbcType="VARCHAR" />
        <result property="bjzt" column="bjzt" jdbcType="FLOAT" />
        <result property="bjztMc" column="bjzt_mc" jdbcType="VARCHAR" />
        <result property="bjztOld" column="bjzt_old" jdbcType="FLOAT" />
        <result property="sfbj" column="sfbj" jdbcType="INTEGER" />
        <result property="cxsj" column="cxsj" jdbcType="INTEGER" />
        <result property="lat" column="lat" jdbcType="VARCHAR"/>
        <result property="lng" column="lng" jdbcType="VARCHAR"/>
        <result property="customLat" column="custom_lat" jdbcType="VARCHAR"/>
        <result property="customLng" column="custom_lng" jdbcType="VARCHAR"/>
        <result property="probeManager" column="probe_manager" jdbcType="VARCHAR" />

        <result property="host_name" column="host_name" jdbcType="VARCHAR" />
        <result property="department_name" column="department_name" jdbcType="VARCHAR" />

    </resultMap>

    <sql id="Base_Column_List">
		probe_id,probe_bh, probe_name, probe_position,probe_remarks, probe_type, Probe_Enable, host_id,Host_Address,
		high_value,low_value,realtime_value,realtime_state,bjzt,bjzt_mc,bjzt_old,sfbj,cxsj,lat,lng,custom_lat,custom_lng,probe_manager
	</sql>

    <select id="selectByHostId" resultMap="ProbeResultMap" parameterType="int">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ASK_PROBE
        <where>
            <if test="hostId != 0 ">
                host_id = #{hostId}
            </if>
        </where>
    </select>
</mapper>