<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ask.sky3back.mapper.HistoryMapper">

	<select id="selectHistory" resultType="com.ask.sky3back.bean.HistoryRecord">
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
        SELECT ${columName} as value , history_date as date
		FROM Ask_history_${tableName}
		WHERE
		host_id = #{hostId} and history_date BETWEEN #{date} + ' 00:00:00' AND #{date} + ' 23:59:59'
		order by history_date
    </select>

	<select id="selectHistoryLine" resultType="com.ask.sky3back.bean.HistoryRecordLine">
	SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
        SELECT MAX(${columName}) as value , DATEPART(hour,history_date) as h
		FROM Ask_history_${tableName}
		WHERE
		host_id = #{hostId} and history_date
		BETWEEN #{date} +' 00:00:00' AND #{date} +' 23:59:59'
		group by DATEPART(hour,history_date)
		ORDER BY DATEPART(hour,history_date)
    </select>
</mapper>