<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ask.sky3back.mapper.UserMapper">

    <sql id="Base_Column_List">
		id,name as username, password, authority,loginflag,phoneNumber
	</sql>

    <insert id="insertUser" parameterType="com.ask.sky3back.bean.User">
        INSERT INTO ASK_USER
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="authority != null">
                authority,
            </if>
            <if test="loginflag != null">
                loginflag,
            </if>
            <if test="phoneNumber != null">
                phoneNumber,
            </if>
            <if test="status != null">
                status,
            </if>
        </trim>
        <trim prefix=" values(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id},
            </if>
            <if test="username != null">
                #{username},
            </if>
            <if test="password != null">
                #{password},
            </if>
            <if test="authority != null">
                #{authority},
            </if>
            <if test="loginflag != null">
                #{loginflag},
            </if>
            <if test="phoneNumber != null">
                #{phoneNumber},
            </if>
            <if test="status != null">
                #{status},
            </if>
        </trim>
    </insert>

    <select id="selectUserById" resultType="com.ask.sky3back.bean.User" parameterType="java.lang.String">
        SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
        SELECT <include refid="Base_Column_List" /> FROM ASK_USER WHERE id = #{id}
    </select>

    <select id="selectUserByUsername" resultType="com.ask.sky3back.bean.User" parameterType="java.lang.String">
        SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
        SELECT <include refid="Base_Column_List" /> FROM ASK_USER WHERE name = #{username} and status = 0
    </select>

    <select id="selectUserByUsernameAll" resultType="com.ask.sky3back.bean.User" parameterType="java.lang.String">
        SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
        SELECT <include refid="Base_Column_List" /> FROM ASK_USER WHERE name = #{username}
    </select>

    <resultMap id="UserOrg" type="com.ask.sky3back.bean.User">
        <result property="id" column="id"/>
        <result property="username" column="name"/>
        <collection property="depts" resultMap="Dept"/>
    </resultMap>

    <resultMap id="Dept" type="com.ask.sky3back.bean.Department">
        <result property="departmentId" column="department_id"/>
        <result property="departmentName" column="department_name"/>
        <collection property="hosts" resultMap="Host"/>
    </resultMap>

    <resultMap id="Host" type="com.ask.sky3back.bean.Host">
        <result property="hostId" column="host_id"/>
        <result property="hostName" column="host_name"/>
        <collection property="probes" resultMap="Probe"/>
    </resultMap>

    <resultMap id="Probe" type="com.ask.sky3back.bean.Probe">
        <result property="probeId" column="probe_id"/>
        <result property="probeName" column="probe_name"/>
        <result property="realtimeValue" column="realtime_value"/>
        <result property="lowValue" column="low_value"/>
        <result property="highValue" column="high_value"/>
        <result property="probeType" column="probe_type"/>
        <result property="probeRemarks" column="probe_remarks"/>
        <result property="hostId" column="host_id"/>
    </resultMap>

    <select id="selectOrg" resultMap="UserOrg">
        SET TRANSACTION ISOLATION LEVEL READ UNCOMMITTED
        SELECT u.name, u.id, d.DEPARTMENT_ID, d.DEPARTMENT_NAME, h.HOST_ID, h.HOST_NAME,
        p.PROBE_ID, p.PROBE_NAME, p.realtime_value, p.low_value,
        p.high_value, p.probe_type, p.probe_remarks, p.host_id
        FROM ASK_DEPARTMENT d, ASK_HOST h, ASK_PROBE p, ASK_USER u
        WHERE name = #{username} and h.Department_Id = d.Department_Id and h.Host_Id = p.Host_Id
        and h.DEPARTMENT_ID in
        <foreach collection="auth" open="(" separator="," close=")" item="a">
            #{a}
        </foreach>
        order by p.PROBE_ID
    </select>
</mapper>